{% extends "base.html"%} 
{% block content %}
{% include "header.html" %}
<div>
	<em>
		Streamline Your HR Processes with Our Comprehensive Management Platform
	</em>
	<p>
		Welcome to Peepo, where we revolutionize the way you handle Human Resources.
		Our cutting-edge HR management platform is designed to simplify and optimize
		every aspect of your HR processes, empowering your team to focus on what
		matters most - your people.
	</p>
	<button>GET STARTED</button>
</div>
<img src="" alt="hero image" />

{% endblock %}
